.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;

}

.page {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}